<p>contact works!</p>
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Contactanos</span>
              <span class="section-heading-lower">Para reservar o pedidos en linea</span>
            </h2>
            <p class="address mb-5">
              <em>
                <strong>El Lago Mayor
                    2da. Sección del Bosque de Chapultepec.
                    </strong>
                <br>
                México, D.F.
              </em>
            </p>
            
            <p class="mb-0">
              
              <small>
                
                <em>Contactanos a los Telefonos</em>
              </small>
              <br>
              <a><a class="fab fa-whatsapp" style="font-size: 20px;" href="#"></a> <a class="fas fa-phone-alt" href="#"></a> 55-15-95-85-67</a> 
              <br/>
              <a><a class="fab fa-whatsapp" style="font-size: 20px;" href="#"></a> <a class="fas fa-phone-alt" href="#"></a> 55-44-98-63-23</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>